.ArashiyamaTourp{
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 2;
    color: white;
    text-decoration:wavy;
    font-size: 500%;
    font-weight: bold;
}

@media (max-width: 600px) {
    .ArashiyamaTourp{
        position: absolute;
        top: 20%;
        width: 100%;
        left: 0;
        font-size: 200%;
        background-color: 	rgba(211, 211, 211, 0.6);
        text-align: center;
        
    }
    
}