.homeservices{
    position: relative;
    top: 720px;
    z-index: 6;
    width: 100%;
    background: var(--main-bg);
    /* background: rgba(255, 255, 255, 0.8); */
    /* background: rgba(120, 119, 119, 0.9); */
}

@media (max-width: 600px) {
    .homeservices{
        position: relative;
        top: 250px;
        
    }
    
}