.BK-closeButton{
    position: fixed;
    z-index: 10;
    top: 0%;
    right: 3%;
    border: none;
    font-size: 100%;
}

.booknow-header{
    background-image: url('../../assets/images/booknowimg.jpg');
    text-align: center;
    margin-top:4% ;
}
.booknowback{
    /* width: 200%; */
}
