.contactRadio{
    text-align: left;
    font-size: 125%;
    margin-left: 10%;
}

input.contacttime{
    width: 20%;
    
}
div.contacttime{
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    text-transform: uppercase;
}
.contacttextarea{
    width: 100%;
}
.contactother{
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}

.contactsubmit{
    margin-top: 5%;
    
}
.contactbutton{
    width: 10%;
    height: 50px;
    margin-bottom: 5%;
}

.contact-fieldset{
    border: solid gray;
    width:90% ;
    margin: 5%;
}
.custom-width {
    width: 50%; /* Adjust the percentage as needed */
}

